# LaTeX intermediate files
*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb


.dropbox
versions/
/queries/coding.cod
/queries/lexicon.q
/queries/ppcme2.out
/queries/CS_02.003.04.jar
queries/CS_2.003.04.jar
/expex.sty
/expex.tex
/new.dat
/old.dat
/notes.org
/scripts/.Rhistory
/auto/
/plc38-presentation.pdf
/plc38-presentation-handout.pdf
