# LaTeX intermediate files
*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb


.dropbox
versions/
/queries/coding.cod
/queries/lexicon.q
/expex.sty
/expex.tex
/new.dat
/old.dat
/notes.org
